body{
    
    background-image: url("../Images/interlaced.png");
}

header{
    background-color:#ffffff;
    border: 2px solid #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    text-align: right;
    margin:-8px -485px -9px -9px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 179px;
    
}

li{
    display: inline;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
    border-color:1px #cccccc;
    position: absolute;
    top: -21px;
    left: 208px;
    width: 300px;
    padding-top: 31px;
    padding-bottom:32px;
    font-weight: bold;

}

#section{
    text-align: left;
    background-color:#ffffff;
    border:1px solid #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    width: 960px; 
    height: 500px;
    margin: 50px 10px 40px 200px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: -10px;
    padding-left: 50px;

}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    color:#4aaaa5;
    border-color:#cccccc;
}

hr{
    border: 2px solid #dddddd;
}

#p1{
    margin:-260px 300px 10px 300px;
    width: 70%;
    line-height: 1.6;
}

#p2{
    margin:10px 10px 10px 300px;
    width: 70%;
    line-height: 1.6;
}

#p3{
    margin:10px 10px 10px 300px;
    width: 70%;
    line-height: 1.6;
}

#p4{
    line-height: 1.6;
}

footer{
    background-color:#666666;
    color:#777777;
    text-align: center;
    border-top: 7px solid #4aaaa5;
    margin:114px -485px 10px -9px;
    padding-top: 50px;
    padding-bottom: 35px;
    padding-right: 179px;
    padding-left: 175px;
}

.wrapper {  
    width: 1024px;
    margin: 40px auto;
  }

#main-content,
#sidebar {
  
  width: 500px;
  padding: 30px;
}

#main-content {
    
    float: left;
  
   
    background: #fff;
  }
  
  #sidebar {
   
    float: right;
  
    
    background: #eee;
  }

@media screen and (max-width: 980px){
    body {
        background-color: #333;
        position: static;
      }
    
      .wrapper {
        
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
}

@media screen and (max-width: 768px){
    body {
        background-color: #333;
        position: static;
      }
    
      .wrapper {
        
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
}

@media screen and (max-width: 640px){
    body {
        background-color: #333;
        position: static;
      }
    
      .wrapper {
        
        width: 100%;
        padding: 20px;
      }
    
      #main-content,
      #sidebar {
        width: 100%;
      }
    
      #sidebar {
        margin-top: 40px;
      }
}